<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" >
		<encoder>
			<!-- refer LogBackMdcConfiguration.java -->
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{35}] : %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO" >
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="smartkuk" level="DEBUG" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />

</configuration>